.App-header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(6px + 2vmin);
}

.buttons {
	margin-left: 5px;
}

.main {
	margin: 0 auto;
	min-height: 45px;
	border-bottom: 1px solid grey;
}

.right {
	float: right;
}
